body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #a8a8a8;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 16px;
        line-height: 1.6;
        padding: 10px;
    }
    .navbar, .sidebar {
        display: none; /* Collapse sidebar */
    }
    .content {
        margin: 0;
        width: 100%;
    }
}

img {
  max-width: 100%;
  height: auto;
}

.container {
    width: 100%; /* adjust the width based on your preference */
    max-width: 2000px; /* optional: restrict the max width */
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 3.0);
}

.code-block {
    background-color: #f4f4f4;  /* Light background for the code */
    border: 1px solid #ccc;      /* Light gray border */
    border-radius: 5px;          /* Rounded corners */
    padding: 1px;                /* Smaller padding */
    font-family: "Courier New", Courier, monospace; /* Monospaced font */
    font-size: 1rem;             /* Code font size */
    color: #333;                 /* Text color */
    overflow-x: auto;            /* Horizontal scroll if needed */
    white-space: pre;            /* Preserve spaces and line breaks */
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    background: #ffffff;
    margin: 15px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}
