body {
  margin-top: 0;
  margin: 3rem 15rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  background-color: white;
}

nav {
  display: flex;
  justify-content: center;
  font-family: 'Noto Serif', serif;
  font-size: 1.5rem;
  background-color: #5E81AC;
  color: #ECEFF4;
  gap: 1em;
}

header {
  display: flex;
  justify-content: center;
  font-size:1.7rem;
}

header img {
  margin-top:1rem;
  height: 4vw;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #2E3440;
  font-family: 'Noto Serif', serif;
}

h2 {
  font-size: 1.7rem;
  color: #ECEFF4;
  margin: 0.2em;
  font-family: 'Noto Serif', serif;
}

h3 {
  font-size: 1.5rem;
  color: #4C566A;
  margin: 0.2em;
  font-family: 'Noto Serif', serif;
}

a {
  color: #ebcb8b;
  text-decoration: none;
}

a:hover {
  color: #ECEFF4;
  text-decoration: underline;
}

li a {
  color: #bf616a; 
  text-decoration: none;
}

li a:hover {
  color: #5E81AC;
  text-decoration: underline;
}

.h2-blocks {
  display: flex;
  justify-content: center;
  background-color: #5E81AC;
  border: 1px solid #2E3440;
  margin: 0;
}

.artigo {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: 1fr 4fr; */
  gap: 1em;
  justify-content: center;
}

.plano {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  justify-content: center;
}

.item {
  background-color: #ECEFF4; 
  font-size: 1.3rem;
}

.spread { 
  grid-column-start: 1;
  grid-column-end: 3;
}

p {
  margin-top:0;
  margin-bottom:0;
  padding: 0.8rem;
}

span { 
  background-color: #8FBCBB;
  padding: 0.2rem;
  color: #4C566A;
  border: 1px solid;
}

.info {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #8fbcbb;
  font-size: 1.2em;
  padding-top:0.5rem;
}

@media print {

  body {
    margin-top: 0;
    margin: 3rem 5rem;
  }


  nav {
    display: none;
  }

}
